{% extends 'base.html' %}
{% block content %}
<header class="masthead text-black">
  <div class="container position-relative pt-2" style="top: 30px; left: 550px;">
      <img src="/static/img/homepageMovie.jpg" class="homepageImg" style="width: 600px; height: 700;">
  </div>
    <div class="container position-relative" style="top: -225px; left: 85px; color: white;">
        <h2 class="display-1" style="font-family: Helvetica">Ramblin Reps</h2>
        <p class="lead" style="font-family: Helvetica">get big or go home!</p>
    </div>
    </div>
</div>
    <div class="homepage-bottom" style="align-content: center; color: white;">
        <p class="text-center" style="font-family: Monospace; margin-top: -90px;">The best place to get silly!</p>
    </div>
{% endblock content %}
